 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a routerLink="/addition">ADD</a></li>
      <li><a routerLink="/subtraction">SUB</a></li>
      <li><a routerLink="/mul">MUL</a></li>
      <li><a routerLink="/div">DIV</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/login">LOGIN</a></li>
      <li><a routerLink="/reg">REGISTER</a></li>
      <li><a routerLink="/contact">CONTACT US</a></li>
      <li><a routerLink="/about">ABOUT US</a></li>
    </ul>
  </div>
</nav>